*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

h1{
    text-align: center;
}

p{
    margin-bottom: 0.5rem; 
}

/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
 /* Header */
header{
    background:  linear-gradient(69deg,rgb(174, 190, 195) 0%, rgba(47, 79, 186, 1) 100%);
}

header nav a img{
 width: 150px;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

header nav a{
   background-color: linear-gradient(#BDD3D9 , #2F4FBA);
}
 

 /* Footer */
 .index footer {
    position: static;
 }

 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
    
}
 legend{ 
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
 }
       
 form div button{
    padding: 5px;
    border-radius: 7px;
 }