.sobre-malas {
    background: linear-gradient(180deg, #ecf1f4, #c4e2e5);
    padding: 60px 20px;
    font-family: 'Poppins', sans-serif ;
}

.sobre-malas h2, h3{
    text-align: center;
    font-size: 32px;
    color:#3958ba;
}

